html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0px;
}

.button {
	font-size: 18px;
	text-align: center;
	font-family: 'Bungee', cursive;
	border-radius: 5px;
	border-width: 0px;
	background-color: rgb(255,255,255);
}

#body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.modal {
	color: rgb(255,255,255);
	background-color: rgba(0,0,0, 0.8);
	position: absolute;
	box-shadow: 0 0 5px 10px rgba(0,0,0, 0.8);
	z-index: 100;
	left: 10%;
	right: 10%;
	top: 40px;
	text-align: center;
	padding: 15px;
}

#matcher {
	display: inline;
}

#rectangle {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 0;
	display: inline;
}

#text {
	font-size: 72px;
	text-align: center;
	font-family: 'Bungee', cursive;
	margin-bottom: 25px;
}

.colourSpaces {
	font-size: 36px;
	text-align: center;
	font-family: 'Bungee', cursive;
}

.sliders {
	width: 30%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(255,255,255);
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 25px;
}

.adjustColour {
	border-radius: 5px;
	margin: 5px;
}

.colourRange {
	width: 90%!important;
}

#red {
	background-color: rgb(255,0,0);
}

#green {
	background-color: rgb(0,255,0);
}

#blue {
	background-color: rgb(0,0,255);
}

#cyan {
	background-color: rgb(0,255,255);
}

#magenta {
	background-color: rgb(255,0,255);
}

#yellow {
	background-color: rgb(255,255,0);
}

#black {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}

#celebrationGif {
	width: 50%;
}

/*The slider styling was made with help from: http://www.cssportal.com/style-input-range/*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9E9E9E;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9E9E9E;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #9E9E9E;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9E9E9E;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #9E9E9E;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #9E9E9E;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9E9E9E;
}
