body {
	font-family: "Franklin Gothic Medium";
	background-color: #424242;
	padding: 5px;
	font-size: 13px;
}

#matcher {
	display: inline;
}

#rectangle {
	display: inline-block;
	position: relative;
	width: 30%;
	height: auto;
	padding-top: 15%;
	padding-bottom: 15%;
}

#circle {
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	width: 60%;
	height: auto;
	padding-top: 60%;
	top: 20%;
    left: 20%;
}

#adjuster {
	display: inline-block;
}

#red {
	background-color: red;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}