<div id="red">
	<div class="red-up up">
		<button>/\</button>
	</div>
	<div class="red-count count">
		{{red_count}}
	</div>
	<div class="red-down down">
		<button>\/</button>
	</div>
</div>
<div id="green">
	<div class="green-up up">
		<button>/\</button>
	</div>
	<div class="green-count count">
			{{green_count}}
	</div>
	<div class="green-down down">
		<button>\/</button>
	</div>
</div>
<div id="blue">
	<div class="blue-up up">
		<button>/\</button>
	</div>
	<div class="blue-count count">
		{{blue_count}}
	</div>
	<div class="blue-down down">
		<button>\/</button>
	</div>
</div>