<div id="end" class="modal" ng-show="end">
	<div>YOU WERE {{correctness}}% CORRECT!!</div>
	<br>
	<img id="celebrationGif" src="{{gif}}" alt="Celebration Gif" ng-hide="hideGif">
	<div>You were off red by {{redDiff}}%</div>
	<div>You were off green by {{greenDiff}}%</div>
	<div>You were off blue by {{blueDiff}}%</div>
	<br>
	<div>You were off cyan by {{cyanDiff}}%</div>
	<div>You were off magenta by {{magentaDiff}}%</div>
	<div>You were off yellow by {{yellowDiff}}%</div>
	<div>You were off black by {{blackDiff}}%</div>
	<br>
	<button class="button" ng-click="refreshGame()">AGAIN!!</button>
</div>
