<div id="start" class="modal" ng-show="start">
	<div style="text-align: left;">
		<div>
			RGB is the colour model used by things like computers. It is an additive colour model, which means that all the colours mixed together makes white. 
		</div>
		<br>
		<div>
			CMYK is the colour model used by things like paint and printers. It is a subtractive colour model, which means that al the colours mixed together makes black.
		</div> 
		<br>
		<div>
			Instructions: <br>
			1) Adjust the sliders <br>
			2) Try to match the words to the background <br>
			3) Click "CHECK MY MATCH" to see how well you did <br>
		</div>
	</div>
	<br>
	<div>Good luck!</div>
	<button class="button" ng-click="startGame()">LET'S GO</button>
</div>
